<!-- toolbar begins -->


<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon>power</mat-icon>
        <span>SEPLA</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" (click)="openBrandDialog()">
       Brand
    </button>
        <button mat-icon-button class="example-icon">
      <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>


<!-- toolbar ends -->
<!-- <div class="container">
  <mat-grid-list class="grid" cols="12" rowHeight="1.25:1" gutterSize="10px">
    <mat-grid-tile class="filler-tile" colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
    </mat-grid-tile>
    <mat-grid-tile class="filler-tile" colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="4">
      <mat-card class="project-list" style="width:100%; padding-right: 15px">
        <mat-card-title-group>
          <mat-card-title>Projects</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <app-project-list></app-project-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="filler-tile" colspan="0" rowspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-metric-card [name]="tpc.name" [value]="tpc.value"></app-metric-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-metric-card [name]="apc.name" [value]="apc.value"></app-metric-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-metric-card [name]="tpl.name" [value]="tpl.value"></app-metric-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <app-metric-card [name]="apl.name" [value]="apl.value"></app-metric-card>
    </mat-grid-tile>
    <mat-grid-tile class="filler-tile" colspan="2" rowspan="1"></mat-grid-tile>
    <mat-grid-tile class="filler-tile" colspan="2" rowspan="1"></mat-grid-tile>
  </mat-grid-list>
</div> -->
<div class="container">
    <!-- <input type="file" (change)="onChange($event)" #inputFile> <button (click)="removeData()">Remove Data</button>
    <div *ngIf="isExcelFile === false">
        This is not an Excel file
    </div>
    <span *ngIf="spinnerEnabled" class="k-i-loading k-icon"></span>
    <table>
        <th *ngFor="let key of keys">
            {{key}}
        </th>
        <tr *ngFor="let item of dataSheet | async">
            <td *ngFor="let key of keys">
                {{item[key]}}
            </td>
        </tr>
    </table> -->

    <div class="flex-cards">
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
        <app-metric-card [name]="orderval.name" [value]="orderval.value"></app-metric-card>
    </div>
    <div>
        <app-project-list></app-project-list>
    </div>
</div>